html {
  background: #999;
  font-family: "Microsoft Yahei", "Source Sans Pro", "Helvetica Neue", "Helvetica, Arial", "sans-serif";
}
a {
  text-decoration: none;
}
img {
  display: block;
}
#app {
  width:52%;
  margin: 0px auto;
  min-width: 995px;
}
.banner img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.header {
  overflow: hidden;
  padding-left: 20px;
  margin: 0;
  background: #8B0000;
  background-size: 100%;
  text-align: center;
}
.header li {
  float: left;
  list-style: none;
  padding: 5px 10px;
}
.header li a {
  font-size: 14px;
  text-decoration: none;
  display: block;
  color: #FFF;
  padding-right: 20px;
  text-align: center;
  border-right: 2px solid #FC0;
}
.header li .active {
  color: #FC0;
}
.header li a:hover {
  color: #FC0;
}
.content {
  width: 97%;
  min-width: 905px;
  background: #FFF;
  min-height: 400px;
  padding: 25px 1.5%;
  margin-bottom: 0px;
}
.content .firTit {
  font-size: 20px;
  color: #0060F6;
}
.content .detail {
  color: #300;
}
.content .yLine {
  color: #FC0;
}
.content .total-tit {
  font-size: 18px;
  color: #900;
  padding: 10px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*.paddingLeft {
  width: 94%;
  padding-left: 3%;
}*/
.email{
	background: url(../images/mail.png) no-repeat left center;
	padding-left:18px ;
}
.teachers {
  width: 100%;
  overflow: hidden;
  /*.teacher-detail:nth-child(odd){
    float: left;
  }*/
  /*.teacher-detail:nth-child(even){
    float: right;
  }*/
}
.teachers .data-people {
  overflow: hidden;
}
.teachers .learn-people {
  overflow: hidden;
  
}
.teachers ul .total-tit {
  margin-bottom: 10px;
  border-bottom: 1px solid #ffcc01;
  padding-bottom: 10px;
}
.teachers .inner-people {
  width: 20%;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  height:200px;
}
.teachers .inner-people img {
	/*width: 135px;
	border-radius: 50%;
  overflow: hidden;*/
  height: 150px;
  margin: 0 auto;
}
.teachers .inner-people dd {
  margin: 0;
}
.teachers .col-3 {
  width: 33.33%;
  float: left;
  margin: 0 auto;
}
.teachers .teacher-detail {
  width: 100%;
  height: 260px;
  /*float: left;*/
  margin-bottom: 20px;
  overflow: hidden;
}
.teachers .teacher-detail .pic {
  border-radius: 50%;
  overflow: hidden;
  width: 148px;
  /*float: left;*/
  height: 180px;
  margin: 0 auto;
}
.teachers .teacher-detail .pic img {
  width: 100%;
  height: 100%;
}
.teachers .teacher-detail .pic .studyImg {
  width: 100%;
}
.teachers .teacher-detail .leftTeacher {
  width: 100%;
  text-align: center;
  /*float: left;*/
}
.teachers .teacher-detail .leftTeacher h4 {
  color: #663300;
  font-size: 16px;
}
.teachers .teacher-detail .leftTeacher p {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
.teachers .teacher-detail .leftTeacher .bottomDetail {
  width: 100%;
}
.teachers .teacher-detail .leftTeacher .bottomDetail span {
  letter-spacing: 0.5px;
  line-height: 20px;
  font-size: 13px;
  word-break: break-all;
}
.teachers .writing {
  overflow: hidden;
}
.teachers .writing li {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.teachers .writing .name {
  width: 20%;
  float: left;
  color: #663300;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.teachers .writing .detail {
  width: 80%;
  float: left;
}
.footer {
  overflow: hidden;
  /*width: 52%;
  margin: 0px auto;
  min-width: 995px;*/
  background: #600000;
  background-size: 100%;
  height: 80px;
 }
.footer .left {
  float: left;
  padding-left:20px;
}
.footer .left .contact {
  color: #FFF;
  
  margin-bottom: 10px;
  padding-top:15px;
}
.footer .left .ser {
  color: #FFF;
  font-size: 8px;
}
.footer .right {
  float: right;
  width: 200;
}
.footer .right > div {
  float: right;
  width: 200;
}
.footer .right > div img {
  height: 40px;
  padding-top:20px;
  padding-right:20px;
}
.footer .right .second {
  margin-right: 0px;
}
