<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="jemdoc, see http://jemdoc.jaboc.net/">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>lvpei</title>
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="peopleDetail.css">
</head>
<body>
  <div id="layout-content">
    <div id="toptitle">
      <h2 class="name" v-html="people.title"></h2>
    </div>
    <div class="detail">
      <div class="people-img">
        <img :src="people.img" :alt="people.title":title="people.title">
      </div>
      <div class="people-msg">
        <p class="first" v-html="people.first"></p>
        <p v-html="people.detail">
          
      </div>
    </div>
    <div class="people-detail">
        <h2 class="title" v-html="Biography.title"></h2>
        <p v-html="Biography.detail"></p>
    </div>
    <div class="people-detail">
        <h2 v-html="ResearchInterests.title" class="title"></h2>
        <p v-html="ResearchInterests.detail"></p>
        <!--image :src="ResearchInterests.img" alt=""-->
    </div>
    <div class="people-detail">
        <h2 v-html="Grants.title" class="title"></h2>
        <ul>
          <li v-for='(item ,index) in Grants.detail'>
            <p v-html ='item'></p>
          </li>
        </ul>
    </div>
    <div class="people-detail">
        <h2 v-html="papers.title" class="title"></h2>
        <ul>
          <li v-for='(item ,index) in papers.detail'>
            <p v-html ='item'></p>
          </li>
        </ul>
    </div>
   <!--div class="people-detail">
        <h2 v-html="awards.title" class="title"></h2>
        <ul>
          <li v-for='(item ,index) in awards.detail'>
            <p v-html ='item'></p>
          </li>
        </ul>
    </div-->
    <div class="people-detail">
        <h2 v-html="teaching.title" class="title"></h2>
        <ul>
          <li v-for='(item ,index) in teaching.detail'>
            <p v-html ='item'></p>
          </li>
        </ul>
    </div>
  </div>
  <script src="vuejs/vue.js"></script>
  <script src="lvp.js"></script>
</body>
</html>
